body {
    background-image: url(../images/train-travel.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card-title {
    text-align: center;
}

h1 {
    text-align: center;
}

#input {
    text-align: center;
}

button {
    margin-right: 200px;
}